
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" data-whatever="@mdo">添加分类</button>

<table class="table table-bordered">
	<tr>
		<td>分类的编号</td>
		<td>分类名称</td>
		<td>操作</td>
	</tr>
	<tr ng-repeat="item in categoryList.rows">
		 <td>
            {{item.categoryId}}
        </td>
        <td>
            {{item.categoryName}}
        </td> 
        <td>
            <button class="btn btn-danger" ng-click="delete(item.categoryId)">删除</button>
        </td> 
	</tr>
</table>


<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">分类添加</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="recipient-name" placeholder="请输入分类的名称" ng-model="categoryMsg">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveCategory()">保存</button>
      </div>
    </div>
  </div>
</div>